@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@112.5,200..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,300;0,400;1,300&family=Smooch+Sans:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    text-decoration: 0;
    font-family: "Oswald", serif;
}
body{
    background-color:rgb(255, 191, 157);
    padding-top: 55px; 
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Assure-toi qu'il est au-dessus des autres éléments */
    width: 100%;
}
.navbar{
    border: 1px solid black;
    background-color: white;
   
}
.navbar-item{
    display: flex;
    justify-content: end;
    list-style: none;
    
}
.navbar-item #a1{
  margin-left: -255px;
  color: black;
}
.navbar-item #a2{
    margin-left: -155px;
   color: black;
}
.navbar-item #a3{
    margin-left: -55px;
   color: black;
}
.navbar-item  #a1:hover,#a2:hover,#a3:hover{
   background-color: rgb(255, 228, 192);
   opacity: 1;
   border-radius: 3px;
}
.navbarre{
    border: 1px solid white;
    background-color: white;
    height: 55px;
}
.logo img{
    border:  none;
    border-radius: 5px;
    width: 100px;
    margin-top: 5px;
    margin-left: 40px;
    opacity: 1;
}
.logo img:hover{
    border-radius: 3px;
    box-shadow: 10px 10px 10px papayawhip;
    transform: scaleX(1.1);
    transform-origin: right;
}
.link-items{
    border: 1px solid black;
}
.items{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:center ;
    list-style: none;
    margin-top: -35px;
}
.items a{
    margin: 30px;
    color: black;
}
.items a:hover{
    border: none;
    background-color: rgb(247, 201, 141);
    padding: 5px 5px ;
    border-radius: 5px;
}
.nav-box{
    width: 200px;
    margin-left: 77%;
    margin-top: -29px;

}
.bx-search-alt-2 {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    margin-left: 77%;
    margin-top: 41px;
}
.subclick{
    border: 1px solid black;
    width: 1100px;
    background-color: white;
    height: 150px;
    margin-top: 11px;
    margin-left: -890px;
    display: none;
}
.subclick #clickput{
 border: none;
 width: 99%;
 padding: 5px;

}
.subclick   .clickancre1{
    border: 1px solid black;
    margin-top: 115px;
    position: absolute;
    z-index: 1;
    margin-left: -805px;
    border-radius: 5px;
    color: black;
}
.subclick   .clickancre2{
    border: 1px solid black;
    margin-top: 115px;
    position: absolute;
    z-index: 1;
    margin-left: -705px;
    border-radius: 5px;
    color: black;
}
.subclick   .clickancre3{
    border: 1px solid black;
    margin-top: 115px;
    position: absolute;
    z-index: 1;
    margin-left: -635px;
    border-radius: 5px;
    width: 190px;
    color: black;
}
.subclick   .clickancre4{
    border: 1px solid black;
    margin-top: 115px;
    position: absolute;
    z-index: 1;
    margin-left: -425px;
    border-radius: 5px;
    color: black;
}
#input-bon{
    border:none;
    background-color: rgb(238, 234, 234);
    padding: 5px;
    border-radius: 10px;
}
::placeholder{
   text-align: center;
}
 .bx-shopping-bag {
    padding: 5px;
    margin-left: 89%;
    position: absolute;
    margin-top: 41px;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
}
.bx-heart {
    padding: 5px;
    margin-left: 92%;
    position: absolute;
    margin-top: 41px;
    font-size: 24px;
    cursor: pointer;
}
/*subnum de notre navbar pour différents marque*/
.submenu{
    position: absolute; 
    border: none;
    background-color: white;
    border-radius: 3px;
    width: 200px;
    margin-top: 82px;
    margin-left: 31%;
    box-shadow: 1px 1px 1px 1px rgb(230, 227, 227);
    display: none;
}
.submenu li{
    padding: 5px ;
    list-style: none;
}
.submenu li:hover{
    background-color: rgb(247, 201, 141);
}
.submenu0{
    position: absolute; 
    border: none ;
    background-color: white;
    width: 230px;
    margin-top: 82px;
    margin-left: 38%;
    box-shadow: 1px 1px 1px 1px rgb(230, 227, 227);
    display: none;
}
.submenu0 li{
    padding: 5px ;
    list-style: none;
}
.submenu0 li:hover{
    background-color: rgb(247, 201, 141);
}
/*.submenu1{
    position: absolute; 
    border: 1px solid black ;
    background-color: yellow;
    width: 200px;
    margin-top: 82px;
    margin-left: 5%;
    box-shadow: 1px 1px 1px 1px rgb(230, 227, 227);
    display: none;
}
.submenu1 li{
    padding: 5px ;
    list-style: none;
}
.submenu1 li:hover{
    background-color: rgb(247, 201, 141);
}*/
.submenu2{
    position: absolute; 
    border: none;
    background-color: white;
    width: 240px;
    margin-top: 82px;
    margin-left: 45%;
    box-shadow: 1px 1px 1px 1px rgb(230, 227, 227);
    display: none;
}
.submenu2 li{
    padding: 5px ;
    list-style: none;
}
.submenu2 li:hover{
    background-color: rgb(247, 201, 141);
}
.submenu3{
    position: absolute; 
    border: none;
    background-color: white;
    width: 200px;
    margin-top: 82px;
    margin-left: 56%;
    box-shadow: 1px 1px 1px 1px rgb(230, 227, 227);
    display: none;
}
.submenu3 li{
    padding: 5px ;
    list-style: none;
}
.submenu3 li:hover{
    background-color: rgb(247, 201, 141);
}
/*BODY CONTENT*/
.bapecontent img{
    border: 1px solid black;
    width:99.5%;
    height: 450px;
    margin-left: 2px;
}
.bapecontent h3{
    border: 1px solid black;
    width: 220px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 45%;
    margin-top: 25px;
    background-color: white;
}
.mainbape a img{
    border: 1px solid black;
    width: 300px;
    margin-left: 25px;
    margin-top: 35px;
}
.bapeprice{
    border: 1px solid black;
    margin-left: 45px;
    width: 200px;
    margin-top: -59px;
}
.bapeprice1{
    border: 1px solid black;
    margin-left: 370px;
    width: 200px;
    margin-top: -50px;
}
.bapeprice2{
    border: 1px solid black;
    margin-left: 700px;
    width: 200px;
    margin-top: -50px;
}
.bapeprice3{
    border: 1px solid black;
    margin-left: 1030px;
    width: 200px;
    margin-top: -50px;
}
/*footer de notre site web sneahub*/
footer{
    background-color: white;
    margin-top: 35px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
  }
  
  .footlogo{
     height: 280px;
     margin-top: 25px;
     border-bottom: 5px solid black;
  }
  .footlogo a img{
     width: 200px;
     margin-left:42% ;
     border-bottom: 1px solid black;
     margin-top: -15px;
     border-radius: 5px;
     box-shadow: 1px 10px 10px rgb(255, 191, 157);
  }
  .détail a{
     position: relative;
     z-index: 1;
     width: 500px;
     margin: 95px;
     margin-left: 150px;
     margin-top: 20px;
     color:black;
     border-bottom: 1px solid black;
 
  }
  .footnike a {
     color: black;
     width: 200px;
     display: block;
     margin-left: 144px;
 }
 .footadidas {
     display: block;
     width: 150px;
     margin-left: 31%;
     margin-top: -88px;
 }
 .footadidas  a {
     color: black;
 }
 .footnewbalance{
     display: block;
     width: 150px;
     margin-left: 53%;
     margin-top: -94px;
 }
 .footnewbalance a{
     color: black;
 }
 .footbape{
     display: block;
     width: 150px;
     margin-left: 73%;
     margin-top: -88px;
 }
 .footbape a{
     color: black;
 }